:root {
    --light: #f0ead2;
    --light-green: #dde5b6;
    --green: #adc178;
    --brown: #a98467;
    --dark: #6c584c;
}

body { /*messing with css styles*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

div h3 a {
    text-decoration: none;
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heroSection{
    text-align: center;
    position: relative;
    width: 100%;
    height: 300px;
    color: var(--dark);
}

#heroImage{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#heroTitle{
    position: absolute;
    z-index: 5;
    max-width: 60%;
    top: 22%;
    left: 43.5%;
    background-color: #adc178;
    padding: 3px;
    border-radius: 5px;
}

#heroDescription{
    position: absolute;
    z-index: 5;
    top: 35.5%;
    left: 23.5%;
    max-width: 60%;
    background-color: #adc178;
    padding: 4px;
    border-radius: 5px;
}

#card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5% 0;
}

#activitiesHeader, #outdoorHeader, #indoorHeader{
    justify-self: center;
    grid-column: 1/4;
}



    /* -----Testing Modal CSS----- */
    
    dialog {
        max-width: 100%;
        max-height: 100%;
        background-color: rgba(0,0,0,.75);
        z-index: 2;
        position: fixed;
    }
    
    #card-modal{
        /* background-color: darkgray;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        width: 90%;
        justify-self: center;
        margin: 100px 0 200px;
        border: 2px solid black;
        border-radius: 10px; */
    
        background-color: var(--light-green);
        border: 3px solid var(--dark);
        border-radius: 20px;
        overflow: hidden;
    
        display: flex;
        margin: 100px 10px 200px;
        height: 20%;
    }
    
    #modal-img{
        /* width: 250px;
        grid-row: 1/3;
        justify-self: center;
        box-shadow: -5px 4px 15px rgb(73, 73, 73); */
    
        border-right: 3px solid var(--dark);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 10px 0px 10px #00000050;
        margin-right: 30px;
        height: 287px;
    }
    
    #modal-title{
        color: var(--dark);
        max-width: 25%;
        padding: 2% 0;
    }
    
    #modal-description{
        color: var(--brown);
        max-width: 40%;
        padding: 2% 5%;
    }
    
    .unhide{
        display: block;
    }

    .hidden{
        display: none;
    }
    
    .card{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 90%;
        max-height: 100%;
        background-color: lightgray;
        padding: 5%;
    }
    
    .card-img{
        max-width: 90%;
        justify-self: center;
    }

    .card-title{
        font-size: 1.5em;
        margin: 2% 0;
    }

    .card-map{
        max-width: 90%;
        justify-self: center;
        margin: 2%;
    }
    
    /* --------------------------- */