:root {
    --light: #f0ead2;
    --light-green: #dde5b6;
    --green: #adc178;
    --brown: #a98467;
    --dark: #6c584c;
}

div h3 a {
    text-decoration: none;
    color: black;
}
/* -----Testing Modal CSS----- */

dialog {
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0,0,0,.75);
    z-index: 2;
    position: fixed;
    top: 163px;
}

#card-modal{
    /* background-color: darkgray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    width: 90%;
    justify-self: center;
    margin: 100px 0 200px;
    border: 2px solid black;
    border-radius: 10px; */

    background-color: var(--light-green);
    border: 3px solid var(--dark);
    border-radius: 20px;
    overflow: hidden;
    height: 200px;

    display: flex;
    margin: 100px 10px 200px;
}

#modal-img{
    /* width: 250px;
    grid-row: 1/3;
    justify-self: center;
    box-shadow: -5px 4px 15px rgb(73, 73, 73); */

    border-right: 3px solid var(--dark);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 0px 10px #00000050;
    margin-right: 30px;
}

#modal-title{
    color: var(--dark)
}

#modal-description{
    color: var(--brown)
}

.unhide{
    display: block;
}

.card{
    background-color: lightgray;
}

.card-img{
    width: 250px;
}

/* --------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}